.enterTitle {
    @apply font-bookkMyungjoBold text-[50px] text-white;
}

.enterInfo {
    @apply text-white font-bookkGothicBold text-[12px];
}

.container {
    display: flex;
    height: 100vh; /* 전체 화면 높이 */
    width: 100%; /* 전체 화면 너비 */
    background-color: black;
}

.canvasContainer {
    margin: auto;
    width: 70%; /* 컨테이너 너비 70%로 고정 */
    height: 66.67%; /* 높이를 너비의 3:2 비율로 설정 (100 / (3/2) = 66.67%) */
}

.controlPanel {
    position: absolute; /* 절대 위치 */
    top: 0; /* 상단에서 0px */
    right: 0; /* 오른쪽에서 0px */
    width: 200px; /* 고정 너비 */
    height: 100%; /* 전체 높이 */
    background-color: black; /* 배경색 추가 */
}

.imageOverlay {
    position: absolute;
    top: 110px;
    left: 80px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none; /* 클릭 이벤트를 이미지가 아닌 배경 요소가 받도록 */
    width: 70%;
    height: 66.67%;
}
