body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
  }
  
  .container {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
  
  .sidebar {
    width: 250px;
    background-color: #000000;
    color: white;
    padding: 20px;
    overflow-y: auto; /* 내부적으로만 스크롤 허용 */
  }
  
  .sidebarTop, .sidebarBottom {
    margin-bottom: 20px;
  }

  .sidebarBottom button {
    display: block;
    background: none;
    color: inherit;
    border: none;
    padding: 10px;
    width: 100%;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s;
  }

 .sidebarTop h1 {
  margin-bottom: 20px;
}
  
.sidebarBottom ol {
  list-style: none;
  padding: 0;
}

.sidebarbottom button:hover {
  background-color: #555;
}
  
  .searchContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .inputGroup {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 300px;
  }
  
  .searchInput {
    flex-grow: 1;
    padding: 8px 32px 8px 8px;  /* 우측에 버튼이 있으므로 padding을 조정 */
    border-radius: 4px 4px 4px 4px;
    border: 1px solid #ccc;
    background: #fff;
    color: #000;
  }
  
  .searchButton {
    position: absolute;
    left: 183px;  /* 왼쪽에서의 위치를 0에서 1px로 조정하여 더 정확하게 맞춤 */
    top: 1px;  /* 상단에서의 위치도 조정 */
    width: 34px;  /* 버튼의 폭을 지정 */
    height: calc(100% - 2px);  /* 버튼 높이를 입력창과 동일하게 조정 */
    border: none;
    background: transparent;  /* 배경을 투명하게 설정 */
    padding: 0;  /* 패딩 제거 */
    cursor: pointer;
    /* border-radius: 0 4px 4px 0;  오른쪽 끝의 라운드 */
    }
  
  .searchButton img {
    width: 24px;
    height: 24px;
  }

  .content {
    flex-grow: 1;
    overflow: hidden; /* 내부 스크롤 방지 */
  }
  

  .chatBotModal {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    z-index: 1000;
  }
  
  .modalContent {
    padding: 20px;
  }
  
  .closeButton {
    float: right;
    font-size: 25px;
    cursor: pointer;
  }
  
  .chatButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #000; /* 검은색 배경 */
    color: white;
    border: none;
    border-radius: 50%; /* 원형 버튼 */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5); /* 그림자 추가 */
  }
  
  