.annotationModal {
  position: fixed;
  top: 20%; /* Adjusted top position */
  left: 70%; /* Adjusted left position */
  transform: translate(-50%, -50%);
  width: 300px;
  font-size: 12px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  z-index: 1000;
  padding: 20px;
}

.annotationModal .modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.annotationModal .annotationTitle {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
}

.annotationModal .closeButton {
  cursor: pointer;
  font-size: 18px;
  padding: 5px;
}

/* 기존 스타일 추가 */
.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.canvasContainer {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.sidebar {
  width: 250px;
  background-color: #000000;
  color: white;
  padding: 20px;
  overflow-y: auto;
}

.sidebarTop, .sidebarBottom {
  margin-bottom: 20px;
}

.sidebarBottom button {
  display: block;
  background: none;
  color: inherit;
  border: none;
  padding: 10px;
  width: 100%;
  text-align: left;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sidebarTop h1 {
  margin-bottom: 20px;
}

.sidebarBottom ol {
  list-style: none;
  padding: 0;
}

.sidebarBottom button:hover {
  background-color: #555;
}

.searchContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.searchContainer :focus {
  outline: none;
}

.inputGroup {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 300px;
}

.searchInput {
  flex-grow: 1;
  padding: 8px 32px 8px 8px;
  border-radius: 4px 4px 4px 4px;
  border: 1px solid #ccc;
  background: #fff;
  color: #000;
}

.searchButton {
  position: absolute;
  right: 1px;
  top: 1px;
  width: 34px;
  height: calc(100% - 2px);
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
}

.searchButton img {
  width: 24px;
  height: 24px;
}

.content {
  flex-grow: 1;
  overflow: hidden;
}

.chatBotModal {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 450px;
  height: 600px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f1f1f1;
  border-bottom: 1px solid #ccc;
  border-radius: 10px 10px 0 0;
}

.modalHeader span {
  font-weight: bold;
}

.modalContent {
  flex-grow: 1;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.chatContainer {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.botMessage,
.userMessage {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  max-width: 70%;
  word-break: break-word;
  display: inline-block;
}

.botMessage {
  background-color: #e0e0e0;
  align-self: flex-start;
}

.userMessage {
  background-color: #000;
  color: white;
  align-self: flex-end;
}

.chatForm {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ccc;
  background-color: #fff;
}

.questionInput {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
}

.submitButton {
  padding: 10px 20px;
  border: none;
  background-color: #000;
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.recommendationsToggle {
  padding: 10px;
  margin-bottom: 7px;
  background: none;
  border: none;
  color: #000;
  cursor: pointer;
  text-align: center;
}

.recommendedQuestions {
  padding: 10px;
}

.recommendedQuestions p {
  margin: 0;
  font-weight: bold;
}

.recommendedQuestions ul {
  list-style: none;
  padding: 0;
}

.recommendedQuestions li {
  margin: 5px 0;
  cursor: pointer;
  color: #000;
}

.chatButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

.chatButton img {
  width: 24px;
  height: 24px;
}
