@font-face {
	font-family: "부크크명조bold";
	src: url(/fonts/부크크명조_굵은글씨.ttf);
}
@font-face {
	font-family: "부크크고딕bold";
	src: url(/fonts/부크크고딕_굵은글씨.ttf);
}
.info{
	width: 100%;
	height: 150px;
	margin-top: 60px;    
	font-family: "부크크고딕bold";
	font-size: 30px;
}

.input_container{
	width: 500px;
	background-color: pink;
	position: relative;
	display: flex;
}
td, th{
	border-spacing: 0px;
	border: 1px solid rgb(154, 154, 154);
	border-left: none;
	font-family: "부크크명조bold";
}
th{
	width: 200px;
	font-size: 20px;
	text-align: left;
	padding-left: 20px;
}
td{
	font-family: "부크크고딕bold";
	border-right: none;
	padding-left: 20px;
}
table input{
	height: 55px;
	width: 100%;
	outline: none;
}
.button{
	width: 400px;
	height: 50px;
	background: black;
	color: white;
	font-family: "부크크명조bold";
	margin-top: 680px;
	margin-bottom: 100px;
	cursor: pointer;
	text-align: center;
	padding-top: 10px;
	border-radius: 10px;
	font-size: 20px;
}
.h1{
	font-family: "부크크명조bold";
	font-size:50px;
	text-align: left;
	margin-bottom: 20px;
}