.main_container{
    height: 100vh;
    width: 100vw;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

.search_container{
    width: 700px;
    height: 50px;
    margin-top: 3%;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5);
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.combo_box{
    width: 110px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.dropdown_container{
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.dropdown_txt{
    font-family: "부크크고딕bold";
    font-size: 18px;
    margin-left: 10px;
}

.dropdown_icon {
    color: black;
    font-size: 30px;
    margin-left: 15px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out; /* 애니메이션 효과를 위한 transition 속성 */
    display: inline-block; /* transform 속성을 적용하기 위해 필요 */
}

.rotated {
    transform: rotate(180deg); /* 회전 클래스 */
}

.line{
    height: 36px;
    width: 2px;
    background-color: #F0F0F0;
}

.typeList_container{
    height:120px;
    width: 110px;
    background: white;
    position: absolute;
    top: 63%;
    border-radius: 10px;
}

.type_txt1{
    color: black;
    height: 40px;
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-family: "부크크고딕bold";
    font-size: 16px;
    transition: 0.5s all;
}

.type_txt2{
    color: black;
    height: 40px;
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-left: 2px solid black;
    border-right: 2px solid black;
    font-family: "부크크고딕bold";
    font-size: 16px;
    transition: 0.5s all;
}

.type_txt3{
    color: black;
    height: 40px;
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;    
    font-family: "부크크고딕bold";
    font-size: 16px;
    transition: 0.5s all;
}


.type_txt1:hover {
    background: black;
    color: white;
}

.type_txt2:hover {
    background: black;
    color: white;
}

.type_txt3:hover {
    background: black;
    color: white;
}

.input_box{
    height: 40px;
    width: 540px;
    padding: 10px;
    font-family: "부크크고딕bold";
}

.input_box:focus {
    outline: none;
}

.find_icon{
    height: 40px;
    width: auto;
    cursor: pointer;
}

.page_intro{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro_txt1{
    margin-top: 40px;
    font-family: "부크크명조bold";
    font-size: 40px;
}

.intro_txt2{
    font-family: "부크크명조bold";
    font-size: 24px;
}


.dropdown_container{
    display: flex;
    align-items: center;
    position: relative;
}

.my_masonry_grid {
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    width: 70vw;
    height: fit-content;
}
.my_masonry_grid_column {
padding-left: 0.5vw; 
padding-right: 0.5vw;
background-clip: padding-box;
}

.my_masonry_grid_column > div {
background: grey;
margin-bottom: 1vw;
cursor: pointer;
}

.img_card{
    height: auto;
    width: auto;
    overflow: hidden;
    position: relative;
}

.photo_info2{
    height: 45px;
    width: 100%;
    color: white;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.7);
    transition: 0.5s;
    display: flex;
    position: absolute;
    align-items: center;
}

.img_card:hover .photo_info2{
    transform: translateY(-45px);
}

.info_txt2{
    margin-left: 4%;
}

.like_container2{
    height: 35px;
    width: fit-content;
    position: absolute;
    display: flex;
    right: 6%;
    align-items: center;
}

.heart2{
    height: 15px;
    width: auto;
    margin-left: 5px;
    margin-top: 2px;
}

.like_txt2{
    font-size: 14px;
}

.modal_background{
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
    top: 0;
    left: 0;
    overflow: hidden;
}


.modal_x{
    width: 60px;
    height: auto;
    position: absolute;
    z-index: 11;
    top: 10px;
    left: 10px;
    cursor: pointer;
}

.photo_modal_container{
    width: 1050px;
    height: 700px;
    top: 50%;
    left: 50%;
    z-index: 11;
    position: absolute;
    transform: translate(-50%, -50%);
    overflow-y: hidden;
    display: flex;
    overflow-x: hidden;
}

.img_container{
    width: 1000px;
    height: 700px;
}

.photo{
    width: 740px;
    height: 630px;
    object-fit: contain;
    background: black;
}

.detail_photo_info{
    width: 740px;
    height: 70px;
    display: flex;
    background: white;
    align-items: center;
}

.detail_photo_profile{
    width: 55px;
    height: 55px;
    border-radius: 50px;
    margin-left: 1%;
}

.detail_photo_info_container{
    width: 590px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2%;
}

.photo_title{
    font-family: "부크크고딕bold";
    font-size: 16px;
}

.photo_date{
    font-family: "부크크고딕bold";
    font-size: 12px;
    color: gray;
}

.detail_photo_like{
    width: 150px;
    height: 70px;
    display: flex;
    align-items: center;
    position: relative;
}

.heart_txt{
    font-family: "부크크고딕bold";
    font-size: 18px;
    position: absolute;
    right: 40px;
}

.heart3{
    height: 25px;
    width: auto;
    right: 5px;
    position: absolute;
    cursor: pointer;
}

.other_info_container{
    width: 300px;
    height: 100%;
    margin-left: 10px;
}

.camera_info{
    width: 300px;
    height: 180px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    padding: 5px;
}

.camera_info_title{
    font-family: "부크크고딕bold";
    font-size: 24px;
    margin: 2%;
}

.camera_info_title2{
    font-family: "부크크고딕bold";
    font-size: 20px;
    margin: 4%;
}

.tags_container{
    width: 300px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    
    padding: 5px;
}

.tags{
    width: 280px;
    height: 80px;
    overflow-y: auto;
}

.tags a{
    display: inline;
}

.comment_container{
    width: 300px;
    height: 220px;
    position: relative;
    overflow-y: auto;
    background: white;
    padding: 5px;
}

.comment_profile{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    object-fit: cover;
}

.comment_info{
    width: 300px;
    height: auto;
    margin-left: 2%;
}

.send_comment_container{
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
}

.send_box{
    height: 40px;
    width: 280px;
    border-radius: 50px;
    border: 2px solid black;
    align-items: center;
    display: flex;
}


.input_box2{
    height: 30px;
    width: 230px;
    padding: 10px;
    position: relative;
    margin-left: 10px;
    font-family: "부크크고딕bold";
}

.input_box2:focus {
    outline: none;
}

.send_icon{
    right: 13px;
    margin-top: -3px;
    height: 40px;
    width: auto;
    cursor: pointer;
    position: absolute;
}

